
.cartable {
    position: relative;
    transition: 0.5s;
}

.cartable-cart-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    scale: 300%;
    padding: 10px;
    color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.cartable-cart-icon:hover {
    /* color: rgba(191, 0, 0, 0.593); */
    color: rgba(113, 113, 113, 0.593);
    scale: 400%;
}

.cartable-arrow-icon {
    cursor: pointer;
    transition: 0.5s;
}

.cartable-arrow-icon:hover {
    color: var(--primary);
    scale: 110%;
}

.cartable:hover {
    box-shadow: 0 0 10px rgba(191, 0, 0, 0.837);
}
